@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@500;600;700&display=swap');

:root{
    /*----BACKGROUND-COLORS---*/
    --bg-color-1: #EA1B24;
    --bg-color-2: #EA1B22;
    --bg-color-3: #FDD941;
    --bg-color-4: #8063E4;
    --bg-color-5: #fff;
    --bg-color-6: #F0F0F0;
    --bg-color-7: #F7F7F7;
    --bg-color-8: #000;
    /*-----TEXT-COLORS--------*/
    --text-color-1: #EA1B24;
    --text-color-2: #EA1B22;
    --text-color-3: #FDD941;
    --text-color-4: #8063E4;
    --text-color-5: #fff;
    --text-color-6: #F0F0F0;
    --text-color-7: #F7F7F7;
    --text-color-8: #000;
    /*-----DESIGN-COLORS--------*/
    --design-color-1: #EA1B24;
    --design-color-2: #EA1B22;
    --design-color-3: #FDD941;
    --design-color-4: #8063E4;
    --design-color-5: #fff;
    --design-color-6: #F0F0F0;
    --design-color-7: #F7F7F7;
    --design-color-8: #000;
    /*-----BLACK LEVELS--------*/
    --black-1: rgba(0,0,0,0.1);
    --black-2: rgba(0,0,0,0.2);
    --black-3: rgba(0,0,0,0.3);
    --black-4: rgba(0,0,0,0.4);
    --black-5: rgba(0,0,0,0.5);
    --black-6: rgba(0,0,0,0.6);
    --black-7: rgba(0,0,0,0.7);
    --black-8: rgba(0,0,0,0.8);
    --black-9: rgba(0,0,0,0.9);
    /*-------FONT-SIZE--------*/
    --fs-1: 10px;
    --fs-2: 12px;
    --fs-3: 14px;
    --fs-4: 16px;
    --fs-5: 18px;
    --fs-6: 20px;
    --fs-7: 22px;
    --fs-8: 24px;
    --fs-9: 26px;
}

/*ANIMATIONS*/
@-webkit-keyframes pulse-red {
    0% {box-shadow: 0 0 0 0 var(--design-color-1);}
    80% {box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);}
    100% {box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);}
}
@keyframes pulse-red {
    0% {box-shadow: 0 0 0 0 var(--design-color-1);}
    80% {box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);}
    100% {box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);}
}
@-webkit-keyframes pulse-yellow {
    0% {box-shadow: 0 0 0 0 var(--design-color-3);}
    80% {box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);}
    100% {box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);}
}
@keyframes pulse-yellow {
    0% {box-shadow: 0 0 0 0 var(--design-color-3);}
    80% {box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);}
    100% {box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);}
}
@-webkit-keyframes pulse-purple {
    0% {box-shadow: 0 0 0 0 var(--design-color-4);}
    80% {box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);}
    100% {box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);}
}
@keyframes pulse-purple {
    0% {box-shadow: 0 0 0 0 var(--design-color-4);}
    80% {box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);}
    100% {box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);}
}
@-webkit-keyframes show-card-buttons{100%{opacity: 1;transform: translateY(0);}}
@keyframes show-card-buttons{100%{opacity: 1;transform: translateY(0);}}


/*-----------BASIC--------------*/
*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: 'Montserrat', sans-serif;}
body::-webkit-scrollbar{width: 8px;}
body::-webkit-scrollbar-thumb{background-color: var(--bg-color-1);border-radius: 20px;}
body::-webkit-scrollbar-track{background-color: var(--bg-color-6);}
a, a:hover, a:active, a:visited {text-decoration: none;}
p{margin: 0;}
button {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;  
}
a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10%;
    width: 100%;
    height: 1px;
    transition: 0.3s;
    transform: scaleX(0);
    background-color: transparent;
}
a, button, div, span, p, i{
    transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}
.page-up-scroll-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-1);
    color: var(--bg-color-5);
    box-shadow: 0 0 10px #fff;
    border-radius: 5px;
    font-size: 20px;
    z-index: 99;
}
section{width: 100%;margin: 50px 0;}
.hover-absolute-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  font-size: var(--fs-4);
}
.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
.swiper-button-prev i,
.swiper-button-next i{
    color: var(--text-color-5);
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    opacity: 1;
}

.section-heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.section-heading h1{
    color: var(--text-color-5);
    text-align: center;
    padding: 5px 0;
}
.section-heading .section-heading-design{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-heading .section-heading-design .line{
    width: 70px;
    height: 2px;
    background-color: var(--text-color-5);
    margin: 0 7px;
}


/*------------HEADER----------*/

/*MOBILE HEADER*/
.mobile-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.mobile-header-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-menu-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  position: relative;
  position: relative;
  margin: 10px;
}
.mobile-menu-button .bar {
  width: 40px;
  height: 4px;
  background: var(--bg-color-1);
  transition: 0.25s ease-in-out;
  border-radius: 10px;
  position: absolute;
}
.mobile-menu-button .bar1 {transform: translateY(-12px);}
.mobile-menu-button .bar3 {transform: translateY(12px);}
.open .bar1 {transform: rotate(-45deg);}
.open .bar2 {transform: translate(50px);background: transparent;}
.open .bar3 {transform: rotate(45deg);}

.mobile-header .supertoys-logo{width: 100%;padding-bottom: 20px;}
.supertoys-logo img{width: 100%;}

/*MOBILE MENU*/
#mobile-collapse-menu{width: 100%;background-color: var(--bg-color-5);}
.collapse-menu-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-icons{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-icons a{padding: 10px;}
.search-input{
    width: 80%;
    border: 2px solid var(--design-color-1);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search-input input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0 15px;
    font-size: var(--fs-5);
    color: var(--text-color-1);
    caret-color: var(--design-color-1);
}
.search-input button{padding: 10px;}
.search-input button i{color: var(--text-color-1);font-size: var(--fs-6);}
.search-input input::placeholder{color: var(--text-color-1);}
.menu-links-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.mobile-menu-link{
    width: 100%;
    background-color: var(--bg-color-1);
    color: var(--text-color-5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid var(--design-color-5);
}
.mobile-menu-link img{padding: 0 10px;}
.mobile-menu-link span{color: var(--text-color-5);font-size: var(--fs-5);}
.mobile-menu-link.gift-link{background-color: var(--bg-color-3); }
.mobile-menu-link.gift-link span{color: var(--black-8);}

/*GENERAL HEADER*/
/*TOP NAVBAR*/
.top-navbar{width: 100%;padding: 10px }
.top-navbar-col{display: flex;justify-content: center;align-items: center;padding: 10px }
.top-navbar .supertoys-logo{width: 100%;padding-bottom: 20px}
.top-navbar .search-input{width: 90%;border-color: #989898;}
.top-navbar .search-input input{color: #707070;caret-color: #707070;padding: 0 10px;}
.top-navbar .search-input input::placeholder{color: #707070;}
.top-navbar .main-icons{width: 100%;justify-content: space-between;}
.top-navbar .main-icons a{padding: 0;}
/*BOTTOM NAVBAR*/
.bottom-navbar{width: 100%;display: flex;justify-content: center;}
.bottom-navbar-col{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    background-color: var(--bg-color-1);
    border-right: 2px solid var(--design-color-5);
}
.bottom-navbar-col img{padding: 0 5p}
.bottom-navbar-col a{color: var(--ext-color-5);font-size: var(--fs-4);}
.bottom-navbar-col.gift-col{background-color: var(--bg-color-3);border-right: none;}
.bottom-navbar-col.gift-col a{color: var(--black-8);}


/*---------FOOTER---------*/

footer{background-color: var(--bg-color-3);}
footer .footer-top{padding: 40px 0;width: 100%; display: flex;justify-content: center;}
footer .supertoys-logo{width: 80%; padding: 20px 0;}
footer .footer-links{padding: 15px 0;}
footer .footer-links h4{color: var(--text-color-4);font-weight: 700;}
footer .footer-links a{
    color: var(--black-8);
    font-weight: 500;
    margin: 5px 0;
    font-size: var(--font-size-md);
    position: relative;
}
footer .footer-links a:hover{color: var(--text-color-1);}
footer .footer-links a::after{background-color: var(--bg-color-1);}
footer .footer-links a:hover::after{transform: scaleX(1);}
footer .sosial-icons{display: flex;justify-content: center;align-items: center;}
.sosial-icons{display: flex;}
.sosial-icons a{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-6);
    color: var(--black-8);
}
.sosial-icons a::after{display: none;}
.sosial-icons a:hover{
    background-color: var(--bg-color-4);
    animation: pulse-purple 1s ease infinite;
}
.sosial-icons a:hover i{color: var(--text-color-5);}
footer .footer-bottom{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-4);
    color: var(--text-color-5);
    font-size: var(--fs-5);
    text-align: center;
    font-weight: 500;
}
footer .footer-bottom p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .footer-bottom p span{padding: 5px;}


/*---------SUPERTOYS MAIN PAGE----------*/
/*MAIN-SWIPER*/
.main-swiper-section{margin: 0;}
.main-swiper{width: 100%;}
.main-swiper .swiper-slide{width: 100%;position: relative;}
.main-swiper .swiper-slide .hover-absolute-div{background-color: var(--black-5);}
.main-swiper .swiper-slide .swiper-image{width: 100%;}
.main-swiper .swiper-slide .swiper-image img{width: 100%; min-height: 250px; object-fit: cover;}
.main-swiper .swiper-button-prev,
.main-swiper .swiper-button-next{background-color: var(--bg-color-3);color: var(--text-color-5);}
.main-swiper .swiper-button-prev:hover,
.main-swiper .swiper-button-next:hover{background-color: var(--bg-color-4);}
.main-swiper .swiper-pagination-bullet {background-color: var(--bg-color-3);}
.main-swiper .swiper-pagination-bullet-active {background: var(--bg-color-1);transform: scale(1.2);}


/*CHILD AGE SWIPER*/
.child-age-swiper{padding: 30px 0;}
.child-age-flower{position: relative;}
.child-age-flower .hover-absolute-div{display: flex;flex-direction: column;justify-content: center;align-items: center;}
.child-age-flower .hover-absolute-div span{color: var(--text-color-8);padding: 3px 0;}

/*NEW PRODUCTS SECTION*/
.new-products-section{
    width: 100%;
    padding: 30px 0;
    position: relative;
    margin-bottom: 0;
}
/*DESIGN BACKGROUND*/
.new-products-section .hover-absolute-div{
    z-index: -1;
    background-color: var(--bg-color-4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.design-image-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
/*NEW PRODUCT SWIPER*/
.new-products-swiper{width: 100%;padding: 0 0 35px;}
.new-products-swiper .swiper-button-prev,
.new-products-swiper .swiper-button-next{
    background-color: var(--bg-color-3);
    color: var(--text-color-5);
    margin: 0;
}
.new-products-swiper .swiper-button-prev:hover,
.new-products-swiper .swiper-button-next:hover{
    background-color: var(--bg-color-1);
}
.new-products-swiper .swiper-pagination{bottom: 0;}
.new-products-swiper .swiper-pagination-bullet {
    background-color: var(--bg-color-3);
}
.new-products-swiper .swiper-pagination-bullet-active {
    background: var(--bg-color-1);
    transform: scale(1.2);
}
/*PRODUCT CARDS*/
.products-wrapper{width: 90%; display: flex;justify-content: center; align-items: center;}
.product-col{display: flex;justify-content: center; align-items: center; margin: 10px 0;}
.supertoys-product-card{
    width: 85%;
    background-color: var(--bg-color-5);
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}
.supertoys-product-card:hover{box-shadow: 0 0 10px var(--design-color-5);transform: scale(1.01);}
.product-image img{width: 120px; height: 120px;}
.product-name{padding:7px 0;text-align: center;}
.product-price{color: var(--text-color-2);padding:5px 0;font-size: var(--fs-6); font-weight: 700;}
.product-stars{padding:5px 0;display: flex; justify-content: center; align-items: center;}
.product-stars button{margin: 0 5px;}
.sebet-button{
    width: 80%;
    background-color: var(--bg-color-2);
    color: var(--text-color-5);
    padding: 15px 0;
    margin: 15px 0;
}
.sebet-button:hover{animation: pulse-red 1s ease infinite;}
.sebet-button img{margin-right: 10px;}
.sebet-button.active{
    background-color: #4BB543;
    animation: none;
}
.sebet-button.active img{transform: scale(1.1);}
.sebet-button.active span{display: none;}
.card-absolute-buttons{
    position: absolute;
    top: 5px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-70px);
}
.supertoys-product-card:hover .card-absolute-buttons{animation: show-card-buttons 0.5s ease forwards;}
.card-absolute-buttons button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 10px ;
}
.card-absolute-buttons button:nth-of-type(1){
    background-color: var(--bg-color-4);
    color: var(--text-color-5);
    font-size: var(--fs-6);  
}
.card-absolute-buttons button:nth-of-type(2){background-color: var(--bg-color-3);}
.card-absolute-buttons button:nth-of-type(3){background-color: var(--bg-color-1);}
.card-absolute-buttons button:nth-of-type(1):hover{animation: pulse-purple 1s ease infinite;}
.card-absolute-buttons button:nth-of-type(2):hover{animation: pulse-yellow 1s ease infinite;}
.card-absolute-buttons button:nth-of-type(3):hover{animation: pulse-red 1s ease infinite;}


/*TEKLİF SECTİON*/
.teklif-section{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    margin: 0;
}
.teklif-section .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    text-align: center;
    width: 40%;
}
.teklif-section .content h3{padding: 10px 0;font-weight: 700;}
.teklif-section .content p{padding: 10px 0;font-weight: 500;font-size: var(--fs-5);}
.teklif-section .content p span {font-size: var(--fs-6);color: var(--text-color-1);font-weight: 700;}
.teklif-section .hover-absolute-div{z-index: -1;background-color: var(--bg-color-6);display: flex;justify-content: center;}
.teklif-section .hover-absolute-div .toys-panel{width: 100%;height: 100%;position: relative;}
/*DESIGN BACKGROUND*/
.teklif-section .hover-absolute-div .toys-panel img{
    position: absolute;
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.teklif-section .hover-absolute-div .toys-panel img:nth-of-type(1){top: 0;left: 0;}
.teklif-section .hover-absolute-div .toys-panel img:nth-of-type(2){top: 25%;left: 0;}
.teklif-section .hover-absolute-div .toys-panel img:nth-of-type(3){top: 50%;left: 0;}
.teklif-section .hover-absolute-div .toys-panel img:nth-of-type(4){top: 75%;left: 0;}
.teklif-section .hover-absolute-div .toys-panel img:nth-of-type(5){top: 0;right: 0;}
.teklif-section .hover-absolute-div .toys-panel img:nth-of-type(6){top: 25%;right: 0;}
.teklif-section .hover-absolute-div .toys-panel img:nth-of-type(7){top: 50%;right: 0;}
.teklif-section .hover-absolute-div .toys-panel img:nth-of-type(8){bottom: -10px;right: 0;}



