@media only screen and (min-width: 540px){
    .mobile-header .supertoys-logo{width: 90%;}
    .mobile-header .search-input{width: 70%;}
    footer .supertoys-logo{width: 70%;}
}
@media only screen and (min-width: 768px){
    .mobile-header .supertoys-logo{width: 80%;}
    .mobile-header .search-input{width: 60%;}
    footer .supertoys-logo{width: 50%;}
    footer .footer-bottom p{flex-direction: row;}
    .swiper-button-prev, .swiper-button-next{width: 40px;height: 40px;}
    
}
@media only screen and (min-width: 992px){
    footer .supertoys-logo{width: 95%;}
    .swiper-button-prev, .swiper-button-next{width: 50px;height: 50px;font-size: var(--fs-7);}
    .swiper-pagination-bullet{width: 15px; height: 15px;}
    .white-toy-design{width: auto; height: auto;}
}
@media only screen and (min-width:1200px){
    .bottom-navbar-col img{padding: 0 10px;}
    .bottom-navbar-col a{font-size: var(--fs-5);}
}
@media only screen and (min-width:1400px){
    .bottom-navbar-col img{padding: 0 15px;}
    .bottom-navbar-col a{font-size: var(--fs-6);}
}
@media only screen and (min-width:1800px){
    .bottom-navbar-col a{font-size: var(--fs-9);}
}